extends ../layout

block content
  h2 Create a user

  form(action="/users" method="post")

    label name
    input(name="name")

    label password
    input(name="password")

    input(type="submit" value="Save")
