doctype html
html
  head
    title= title
    link(rel='stylesheet', href="http://localhost:#{assetPort}/stylesheets/style.css")
    script(type="text/javascript" src="http://localhost:#{assetPort}/build/bundle.js")
  body
    block content
