extends layout

block content

  h2 the latest tweets (#{count})

  table
    each tweet in tweets
      tr
        td= tweet.content
        td= tweet.owner_id

  h3 tweet something!
  form(action="/tweets" method="post")

    label content
    input(name="content")

    input(type="submit" value="tweet")


  h2 Users
  a(href="users") user manager
